* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
  background: #fff;
}

#topHeader {
  position: fixed;
  width: 100%;
  height: 130px;
}

#topNav {
  position: relative;
  display: flex;
  justify-content:space-between;
}

#topNav a:nth-last-child(2) {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin: auto;
}